# compiled binaries from various scripts
*.c.out
src/gui/gui
src/solver/main
main

# Prerequisites
*.d

# Ignored datasets bc they are too large
all-extern-data.in
noisy+nn-data.in

# xor model weights
save/xor/weightsandbias.mdl

# log files
*.log

# bmp files in root folder
/*.bmp

# Solved sudoku image
solved_grid.png

# cells dir in root folder
/cells/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
#*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VS Code config files
*.vscode
*.DS_Store
# Valgrind core dumps
vgcore.*

